:root{
--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%)
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
 
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--Light-Grayish-Blue);
    font-family: "Manrope", sans-serif;
    font-size: 13px;
  }
 
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
 
  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  .profile-container{
    display: flex;
  }
  
  main{
    max-width: 90%;
    background-color: white;
    border-radius: 10px;
  }

  .profile-container img{
    border-radius: 50%;
    width: 40px;
  }

  .content{
    padding: 25px;
  }

  .para-bold{
    font-size: 1.4em;
    margin-bottom: 0.8em;
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
  }
  
  .para-light{
    font-weight: 500;
    margin-bottom: 2em;
    color: var(--Desaturated-Dark-Blue);
  }

  .share-icon{
    margin-left: auto;
    padding: 10px;
    background: var(--Light-Grayish-Blue);
  }

  .name-bold{
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
  }

  .date-light{
    color: var(--Desaturated-Dark-Blue);
    font-weight: 500;
  }

  .profile-container-content{
    margin-left: 1em;
  }

  .drawers-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .share-popup{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .social-media-icons{
    display: flex;
    gap: 1.5em;
  }

  .share-popup p{
    font-size: 1.2em;
    letter-spacing: 0.4em;
    margin-right: 1.5em;
    color: var(--Grayish-Blue);
    text-transform: uppercase;
  }

  .popup-share-icon{
    border-radius: 50%;
    width: 40px;
    margin-left: auto;
    padding: 10px;
    background-color: var(--Desaturated-Dark-Blue);
  }

  
  @media only screen and (min-width: 768px) {
   main{
    display: flex;
    max-width: 50%;
   }

   .drawers-img{
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
   }

   .share-popup{
    position: absolute;
    padding: 10px;
    bottom: 45vh;
    right: 40vh;
    border-radius: 10px;
   }
  }